<div class="modal-header">
	<h3 class="modal-title">新しいブックマーク</h3>
</div>
<form method="POST" action="/bookmark/create" th:object="${bookmarkForm}">
	<div class="modal-body">
		<div class="mb-3">
			<label for="websiteName" class="form-label">Website名</label>
			<input name="name" type="text" class="form-control" id="websiteName" placeholder="Website名" />
		</div>
		<div class="mb-3">
			<label for="websiteLink" class="form-label">リンク</label>
			<input name="url" type="text" class="form-control" id="websiteLink" placeholder="https://example.com" />
		</div>
		<div class="mb-3">
			<label for="websiteTag" class="form-label">タッグ</label>
			<select name="tagId" class="form-select" id="websiteTag">
				<option th:each="object: ${object_list}" th:value="${object.id}" th:text="${object.name}">Tag Name
				</option>
			</select>
		</div>
		<div class="mb-3">
			<label for="websiteDescription" class="form-label">説明</label>
			<input name="description" type="text" class="form-control" id="websiteDescription" placeholder="説明" />
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-success" id="submitBookmark">
			確定
		</button>
	</div>
</form>