<div layout:fragment="main">
  <h1 th:text="${title}"></h1>
  <!--Add Bookmark Button-->
  <button
    class="btn btn-sm btn-dark ms-3"
    data-bs-toggle="modal"
    data-bs-target="#NewBookmarkModal"
    hx-get="bookmark/form/modal"
    hx-trigger="click"
    hx-target="#addNewBookmarkModal"
    hx-swap="innerHTML"
  >
    +
  </button>

  <!--Detail Modal-->
  <div
    class="modal fade"
    id="DetailModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="DetailModalLabel"
    aria-modal="true"
  >
    <div class="modal-dialog" role="document">
      <div id="addDetailModal" class="modal-content">
        <!--form for HTMX insert modal-->
      </div>
    </div>
  </div>

  <!--New Bookmark Modal-->
  <div
    class="modal fade"
    id="NewBookmarkModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="NewBookmarkModalLabel"
    aria-modal="true"
  >
    <div class="modal-dialog" role="document">
      <div id="addNewBookmarkModal" class="modal-content">
        <!--form for HTMX insert modal-->
      </div>
    </div>
  </div>

  <!--New Tag Modal-->
  <div
    class="modal fade"
    id="NewTagModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="NewTagModalLabel"
    aria-modal="true"
  >
    <div class="modal-dialog" role="document">
      <div id="addNewTagModal" class="modal-content">
        <!--form for HTMX insert modal-->
      </div>
    </div>
  </div>

  <!--Alert Message-->
  <div
    th:if="${msg}"
    th:class=" 'alert alert-' + ${color} +'alert-dismissible fade show' "
    th:message="${msg}"
  >
    <!--Close Button for Alert Message-->
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div th:fragment="main">
    <!-- Table -->
    <div class="table-responsive">
      <table class="table table-hover" id="bookmarksTable">
        <!--Table Head-->
        <thead class="table-light">
          <tr>
            <th>Website名</th>
            <th>
              <div class="d-flex align-items-center">
                <span class="me-2">タッグ</span>
                <!--Add Tag Button-->
                <button
                  class="btn btn-sm btn-dark ms-3"
                  data-bs-toggle="modal"
                  data-bs-target="#NewTagModal"
                  hx-get="tag/form/modal"
                  hx-trigger="click"
                  hx-target="#addNewTagModal"
                  hx-swap="innerHTML"
                >
                  +
                </button>
              </div>
            </th>
            <th>詳細</th>
            <th>処理</th>
          </tr>
        </thead>
        <!--Table Body-->
        <tbody>
          <tr th:each="object : ${object_list}">
            <td>
              <a
                href="www.google.com"
                th:href="${object.url}"
                th:text="${object.name}"
                target="_blank"
                >Google</a
              >
            </td>
            <td th:text="${object.tag.name}">Search Engine</td>
            <td th:text="${object.description}">
              標準的に使われるサーチエンジンサイト
            </td>
            <td>
              <!--Bookmark Detail Button-->
              <button
                class="btn btn-sm btn-primary ms-3"
                data-bs-toggle="modal"
                data-bs-target="#DetailModal"
                th:hx-get="'/bookmark/id/'+${object.id}"
                hx-trigger="click"
                hx-target="#addDetailModal"
                hx-swap="innerHTML"
              >
                詳細
              </button>
              <button
                class="btn btn-sm btn-danger ms-3"
                hx-trigger="click"
                th:hx-delete="'/bookmark/delete/' + ${object.id}"
                hx-confirm="本当に削除しますか？"
              >
                削除
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
