<div class="modal fade" id="TagModal" tabindex="-1" aria-labelledby="tagModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tagModalLabel">新しいブックマーク</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
			<div class="modal-body">
                <form id="tagForm" method="POST" action="/tag/create" th:object="${tagForm}">
                    <div class="mb-3">
                        <label for="tagName" class="form-label">タッグ名</label>
                        <input name="name" type="text" class="form-control" id="tagName" placeholder="タッグ名" required>
                    </div>
					<div class="mb-3">
						<label for="tagName" class="form-label">説明</label>
						<input name="description" type="text" class="form-control" id="tagDescription" placeholder="説明" required></div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-success" id="submitTag">確定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>